{% extends 'labeling_app/index.html' %}
{% load staticfiles %}

{% block extra_options %}
    <button class="btn-default" ng-click="cleanScreen()" ng-disabled="!dataLoaded">Borrar</button>
{% endblock extra_options %}

{% block extra_button %}
    {% verbatim %}
    <button class="btn-default" ng-disabled="!dataLoaded" ng-show="!end" ng-click="invalidate()">No hay una <strong>{{ category.description }}</strong> en la imagen!</button>
    <br>
    {% endverbatim %}
{% endblock extra_button %}

{% block app_scripts %}
    <script src="{% static 'labeling_app/js/app/app.js' %}"></script>
    <script src="{% static 'labeling_app/js/app/basic_labeling/services.js' %}"></script>
    <script src="{% static 'labeling_app/js/app/basic_labeling/controllers.js' %}"></script>
    <script src="{% static 'labeling_app/js/directives.js' %}"></script>
    <script src="{% static 'angular-ui-select/js/select.min.js' %}"></script>
    <link type="text/css" property='stylesheet' href="{% static 'angular-ui-select/css/select.min.css'%}" rel="stylesheet">
    {% block app_dependant_scripts %}{% endblock app_dependant_scripts %}
{% endblock app_scripts %}