{% extends "labeling_app/base_labeling.html" %}
{% load staticfiles %}

{% block image_title %}
    {% verbatim %}
    <h1 ng-show="!end && category.category">Encuentra la <strong>{{ category.description }}</strong> en la imagen</h1>
    {% endverbatim %}
{% endblock image_title %}


{% block extra_selector %}
    <div class="col-md-4 col-xs-4" ng-show="!end"></div>
{% endblock extra_selector %}

{% block app_dependant_scripts %}
    <script src="{% static 'labeling_app/js/app/basic_labeling/controller_extension.js' %}"></script>
{% endblock app_dependant_scripts %}