{% extends "labeling_app/base_labeling.html" %}
{% load staticfiles %}

{% block image_title %}
    {% verbatim %}
    <h1 ng-show="!end">Encuentra la <strong>{{ category.description }}</strong> en la imagen</h1>
    {% endverbatim %}
{% endblock image_title %}

{% block extra_selector %}
        <div class="col-xs-offset-2 col-md-offset-2 col-md-4 col-xs-4" >
            {% verbatim %}
            <ui-select ng-model="ctrl.selected" title="Elija una categoría">
                <ui-select-match placeholder="Elige una categoría">{{ $select.selected.description }}</ui-select-match>
                {% endverbatim %}
                <ui-select-choices repeat="c in categories | filter: $select.search">
                    <span ng-bind="c.description"></span>
                </ui-select-choices>
            </ui-select>
        </div>
{% endblock extra_selector %}

{% block app_dependant_scripts %}
    <script src="{% static 'labeling_app/js/category_labeling/controller_extension.js' %}"></script>
{% endblock app_dependant_scripts %}
