{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <form name="nextImageForm" ng-submit="changeImage()">
        <div class="container-fluid" ng-app="Labeling" ng-controller="CanvasController" >
            <div class="row" style="text-align: center">
                {% verbatim %}
                <div class="col-xs-12" id="header-container" ng-show="nextImage.category">
                    <h1>Encuentra la <strong>{{ nextImage.category }}</strong> en la imagen</h1>
                </div>
                {% endverbatim %}
            </div>
            <div class="row first-row">
                <div class="col-md-offset-2 col-md-8 col-xs-12" id="canvas-column">
                    <div id="canvas-container" ng-controller="DrawerController as drawer">
                        <canvas height="" width="" image-container ng-mousedown="drawer.mouseDown($event)" ng-mousemove="drawer.mouseMove($event)"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-6 col-xs-10" ng-show="!nextImage.category">
                        <ui-select name="categories" ng-model="selectedType" title="Elija una categoría">
                            {% verbatim %}
                            <ui-select-match placeholder="Seleccione una categoría">{{ $select.selected }}</ui-select-match>
                            {% endverbatim %}
                            <ui-select-choices repeat="key in categories | filter: $select.search">
                                <div ng-bind-html="sanitize((key | highlight: $select.search))"></div>
                            </ui-select-choices>
                        </ui-select>
                </div>
                <div class="col-md-2" ng-show="nextImage.category"></div>
                <div class=" col-md-4 col-xs-2">
                    <input type="submit" class="btn-default" ng-click="Submit">
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'labeling_app/js/app.js' %}"></script>
    <script src="{% static 'labeling_app/js/controllers.js' %}"></script>
    <script src="{% static 'labeling_app/js/directives.js' %}"></script>
    <script src="{% static 'angular-ui-select/js/select.min.js' %}"></script>
    <link type="text/css" property='stylesheet' href="{% static 'labeling_app/css/css.css'%}" rel="stylesheet">
    <link type="text/css" property='stylesheet' href="{% static 'angular-ui-select/css/select.min.css'%}" rel="stylesheet">
{% endblock extra_scripts %}