{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <div class="container-fluid" ng-app="{{ app }}" ng-controller="{{ request_controller }} as ctrl" style="position: relative">
            <div class="row" style="text-align: center">
                <div class="col-xs-12" id="header-container">
                    {% block image_title %}{% endblock image_title %}
                    {% block extra_button %}{% endblock extra_button %}
                    <h1 ng-show="end"> <strong>Terminaste!!</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="text-center loading-icon" ng-hide="dataLoaded">
                    <i class="fa fa-5x fa-spinner fa-spin"></i>
                </div>
                <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-height" id="canvas-column" ng-class="{'opaque': !dataLoaded }" style="text-align: center">
                    <div id="canvas-container" ng-controller="{{ controller }} as {{ controller_short }}" style="text-align: center">
                        <canvas height="" width="" image-container ></canvas>
                    </div>
                </div>
             <div class="row">
                 <div ng-show="!end" style="text-align: center" class="col-md-offset-2 col-md-8 col-xs-12">
                        {% block extra_selector %}{% endblock extra_selector %}
                     <div class="col-md-4 col-xs-4" style="text-align: center">
                        {% block extra_options %}{% endblock extra_options %}
                        <button class="btn-default" ng-click="nextLabeling()" ng-disabled="!dataLoaded">Siguiente</button>
                     </div>
                 </div>
             </div>

            </div>

        </div>


{% endblock content %}
{% block extra_scripts %}
    {% block app_scripts %}
    {% endblock app_scripts %}
    <link type="text/css" property='stylesheet' href="{% static 'labeling_app/css/css.css'%}" rel="stylesheet">
{% endblock extra_scripts %}