{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <div class="container-fluid" ng-app="{{ app }}" ng-controller="{{ request_controller }}" style="position: relative">
            <div class="row" style="text-align: center">
                <div class="col-xs-12" id="header-container">
                    {% block image_title %}{% endblock image_title %}
                    <h1 ng-show="end"> <strong>Terminaste!!</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-height" id="canvas-column" style="text-align: center">
                    <div id="canvas-container" ng-controller="{{ controller }} as {{ controller_short }}" style="text-align: center">
                        <canvas height="" width="" image-container ></canvas>
                    </div>
                    <div ng-show="!end">
                        {% block extra_options %}{% endblock extra_options %}
                        <button class="btn-default" ng-click="nextLabeling()">Siguiente</button>
                    </div>
                </div>

            </div>
            {% block extra_selector %}{% endblock extra_selector %}
        </div>


{% endblock content %}
{% block extra_scripts %}
    {% block app_scripts %}
    {% endblock app_scripts %}
    <link type="text/css" property='stylesheet' href="{% static 'labeling_app/css/css.css'%}" rel="stylesheet">
{% endblock extra_scripts %}