{% load staticfiles %}
<md-dialog ng-cloak>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{% verbatim %}{{ 'INSTRUCTIONS' | translate }}{% endverbatim %}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-init="ins.pages({{ pages }})">
          <div ng-if="ins.page == 1" layout="column" layout-align="center center">
              <p>{% verbatim %}{{ 'INS1' | translate | htmlSafe}}{% endverbatim %}</p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/image-cat.png' %}"/>
          </div>
          <div ng-if="ins.page == 2" layout="column" layout-align="center center">
              <p>{% verbatim %}{{ 'INS2' | translate| htmlSafe }}{% endverbatim %}</p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/corner.png' %}"/>
          </div>
          <div ng-if="ins.page == 3" layout="column" layout-align="center center">
              <p>{% verbatim %}{{ 'INS3' | translate | htmlSafe}}{% endverbatim %}</p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/center-crop.png' %}"/>
          </div>
          <div ng-if="ins.page == 4" layout="column" layout-align="center center">
              <p>{% verbatim %}{{ 'INS4' | translate | htmlSafe}}{% endverbatim %}</p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/choose-cat.png' %}"/>
          </div>
          <div ng-if="ins.page == 5" layout="column" layout-align="center center">
              <p data-ng-bind-html="'INS5' | translate | htmlSafe"></p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/next.png' %}"/>
          </div>
          <div ng-if="ins.page == 6" layout="column" layout-align="center center">
              <p data-ng-bind-html="'INS6' | translate | htmlSafe"></p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/wrong.png' %}"/>
          </div>
          <div ng-if="ins.page == 7" layout="column" layout-align="center center">
              <p data-ng-bind-html="'INS7' | translate | htmlSafe"></p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/example_partial.png' %}"/>
          </div>
          <div ng-if="ins.page == 8" layout="column" layout-align="center center">
              <p>{% verbatim %}{{ 'INS7' | translate | htmlSafe}}{% endverbatim %}</p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/code.png' %}"/>
          </div>
          <div ng-if="ins.page == 9" layout="column" layout-align="center center">
              <p data-ng-bind-html="'INS8' | translate | htmlSafe"></p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/more-images.png' %}"/>
          </div>
          <div ng-if="ins.page == 10" layout="column" layout-align="center center">
              <p data-ng-bind-html="'INS9' | translate | htmlSafe"></p>
              <img class="instruction" ng-src="{% static 'labeling_app/images/show-codes.png' %}"/>
          </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-if="ins.page != 1" ng-click="ins.previousPage()">{% verbatim %}{{ 'PREVIOUS' | translate }}{% endverbatim %}</md-button>
        <md-button ng-if="ins.page != {{ pages }}" ng-click="ins.nextPage()">{% verbatim %}{{ 'NEXT' | translate }}{% endverbatim %}</md-button>
        <md-button ng-if="ins.page == {{ pages }}" ng-click="ins.close()">{% verbatim %}{{ 'CLOSE' | translate }}{% endverbatim %}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>