<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Instructions</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-init="ins.pages({{ pages }})">
          <div ng-if="ins.page == 1">
              <p>You will be presented an image and a clothing category. You job is to use the cropper to wrap the garment in the picture.</p>
          </div>
          <div ng-if="ins.page == 2">
              <p>To modify the cropper's size you must grab it by its corners</p>
          </div>
          <div ng-if="ins.page == 3">
              <p>To move it around the image you must grab it by the center.</p>
          </div>
          <div ng-if="ins.page == 4">
              <p>If you don't understand what garment the category referes to, you must only click the category name and descriptive image will be shown.</p>
          </div>
          <div ng-if="ins.page == 5">
              <p>Once the item is correctly wrapped up, the only thing left is to press the <b>Next</b> button</p>
          </div>
          <div ng-if="ins.page == 6">
              <p>If the category is not present in the image press the <b>This is wrong!</b> button. By doing this you will let us know that the image was labeled incorrectly.</p>
          </div>
          <div ng-if="ins.page == 7">
              <p>After labeling 10 images you will be given a code, which is actually the answer to the questionnaire on Mechanical Turk.</p>
          </div>
          <div ng-if="ins.page == 8">
              <p>If you press the <b>Obtain more images!!</b> button you will be assigned 10 more images. Once you finish labeling them all you will be given another code. </p>
          </div>
          <div ng-if="ins.page == 9">
              <p>To list all the codes you have gained, press the <b>Show codes</b> button.</p>
          </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-if="ins.page != 1" ng-click="ins.previousPage()">Previous</md-button>
        <md-button ng-if="ins.page != {{ pages }}" ng-click="ins.nextPage()">Next</md-button>
        <md-button ng-if="ins.page == {{ pages }}" ng-click="ins.close()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>