{% extends 'labeling_app/base-labeling.html' %}

{% block image_section %}
        <div layout="row"  layout-align="center" ng-cloak>
        </div>
        <div layout="row" class="cropArea" layout-align="center center" style="height: 600px; position: relative">
            <img ng-src="{{ img.img_location }}">
        </div>
        <div layout="column"  layout-align=" center center">
            <div>
                <h4>{% verbatim %}{{ 'LABELED' | translate }}{% endverbatim %}{{ image_number }} {% verbatim %}{{ 'LABELED_END' | translate }}{% endverbatim %}</h4>
            </div>
            {% if usr.usr_is_mechanical_turk %}
                <div>
                    <h4>{% verbatim %}{{ 'YOURCODEIS' | translate }}{% endverbatim %} <b>{{ code }}</b></h4>
                    <br>
                </div>
            {% endif %}
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="hidden" value="true" name="more">
                <md-button class="md-raised" type="submit">{% verbatim %}{{ 'MOREIMAGE' | translate }}{% endverbatim %}</md-button>
            </form>
        </div>

{% endblock image_section %}