html, body{
    min-height: 100%;
    height:100%;
}
.first-row{
    min-height: 20%;
    max-height: 80%;
    height:80%;
    position: relative;
}

.rectangle {
    border: 4px solid #FF0000;
    position: absolute;
}

canvas{
    border: 1px #000000 solid;
}
.container-fluid {
    height: 100%;
    /*overflow-y: auto; /* don't show content that exceeds my height */
}

input[type=radio]{
    margin: 4px 10px 10px;
}