<md-dialog>
    <form ng-cloak method="post" action="{% url 'dummy_user' %}">
        {% csrf_token %}
        <md-toolbar>
            <div class="md-toolbar-tools">
                {% verbatim %}
                <md-button ng-click="ctrl.close()">{{ 'CLOSE' | translate }}</md-button>
                {% endverbatim %}
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-align="center center" >
                    <div>
                        {% verbatim %}
                        <p>{{ 'INSTRUCTIONS_ANONYMOUS' | translate}}</p>
                        <p>{{ 'INSTRUCTIONS_ANONYMOUS2 ' | translate}}</p>
                        <p>{{ 'INSTRUCTIONS_ANONYMOUS3 ' | translate}}</p>
                        {% endverbatim %}
                    </div>
                    <md-input-container  class="md-block" flex-gt-xs>
                        {% verbatim %}
                        <label for="email">{{ 'EMAIL' | translate }}</label>
                        {% endverbatim %}
                        <input type="email"  name="email" id="email" />
                    </md-input-container>
                    <div class="space-top text-center">
                        {% verbatim %}
                        <md-button  class="md-raised waves-effect waves-light btn done"
                                    ng-disabled="ctrl.getPressed()"
                                    ng-submit="ctrl.pushButton()"
                                    type="submit"><i class="material-icons left">done</i>
                            {{ 'FINISHREGISTER' | translate }}</md-button>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>