{% extends 'registration/base-registration.html' %}

{% block content %}
  <div ng-controller="RegistrationCtrl as reg" ng-app="Labeling" layout="column" layout-align="center center" layout-fill >
  {% if validlink %}
      {% if form.errors %}
          <md-list>
          {% for error in form.errors.new_password2 %}
              <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3><b>{{ forloop.counter }}.</b>   {{error}}</h3>
                    </div>
              </md-list-item>
          {% endfor %}
          </md-list>
      {% endif %}
    <h3>Change password</h3>
    <form method="post" name="form" role="form" action="" novalidate>
        {% csrf_token %}
                <!-- Password -->
        <md-input-container class="md-block" flex-gt-xs>
            <label for="password">Password</label>
            <input type="password" ng-minlength='6' name="new_password1" id="id_new_password1" ng-model="reg.user.password" required />
            <div ng-messages="form.password.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Password is required</div>
              <div ng-message="minlength" class="my-message">Password is too short</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs >
            <label for="password">Repeat password</label>
            <input type="password" name="new_password2" id="id_new_password2" ng-model="reg.user.repeatPassword"
                   compare-to="reg.user.password" required />
            <div ng-messages="form.repeatPassword.$error" role="alert" multiple>
                <div ng-message="compareTo" class="my-message">Passwords don't match</div>
            </div>
        </md-input-container>
         <div class="space-top text-center">
            <md-button ng-disabled="form.$invalid" class="md-raised waves-effect waves-light btn done" type="submit">Change password</md-button>
        </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
{% endblock %}