{% extends 'registration/base-registration.html' %}

{% block content %}
    <div ng-controller="RegistrationCtrl as reg" ng-app="Labeling" layout="column" layout-align="center center" layout-fill >
      <div>
        <h2>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            <br>
            You should receive them shortly.
            </h2>
          <h3>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </h3>
          <h3><a href="{% url 'login' %}">Back to login</a></h3>
      </div>
    </div>
{% endblock content %}
