{% extends 'registration/base-registration.html' %}
{% load staticfiles %}

{% block content %}
<div ng-controller="RegistrationCtrl as reg" ng-app="Labeling" layout="column" layout-align="center center" layout-fill >
    {% if error %}
        <p ng-init='reg.showAlert("{{  error|safe   }}")'></p>
    {% endif %}
    <h2>{% verbatim %}{{ 'REGISTER' | translate }}{% endverbatim %}</h2>
    <form name="form" method="post" role="form" action="{% url 'verify' %}" novalidate>
        {% csrf_token %}

        <!-- Email -->
        <md-input-container  class="md-block" flex-gt-xs>
            <label for="email">{% verbatim %}{{ 'EMAIL' | translate }}{% endverbatim %}</label>
            <input id="email" type="email" name="email" ng-model="reg.user.email" class="validate" required>
            <div ng-messages="form.email.$error" role="alert" multiple>
                <div ng-message="email" class="my-message">{% verbatim %}{{ 'ERROREMAIL1' | translate }}{% endverbatim %}</div>
                <div ng-message="required" class="my-message">{% verbatim %}{{ 'ERROREMAIL2' | translate }}{% endverbatim %}</div>
            </div>
        </md-input-container >

        <!-- Password -->
        <md-input-container class="md-block" flex-gt-xs>
            <label for="password">{% verbatim %}{{ 'PASSWORD' | translate }}{% endverbatim %}</label>
            <input type="password" ng-minlength='8' name="password" id="password" ng-model="reg.user.password" required />
            <div ng-messages="form.password.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">{% verbatim %}{{ 'ERRORPASSWORD1' | translate }}{% endverbatim %}</div>
              <div ng-message="minlength" class="my-message">{% verbatim %}{{ 'ERRORPASSWORD2' | translate }}{% endverbatim %}</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs >
            <label for="password">{% verbatim %}{{ 'REPEATPASS' | translate }}{% endverbatim %}</label>
            <input type="password" name="repeatPassword" id="repeatPassword" ng-model="reg.user.repeatPassword"
                   compare-to="reg.user.password" required />
            <div ng-messages="form.repeatPassword.$error" role="alert" multiple>
                <div ng-message="compareTo" class="my-message">{% verbatim %}{{ 'ERRORREPEAT' | translate }}{% endverbatim %}</div>
            </div>
        </md-input-container>

        <!-- Others -->
        <!--<h5>{% verbatim %}{{ 'SITEINFO' | translate }}{% endverbatim %}</h5>
        <input type="hidden" name="info" ng-value="reg.user.info.selected"/>
        <md-input-container>
        <md-radio-group name="origin" id="info" ng-change="" ng-model="reg.user.info.selected" ng-required="true" >
            <md-radio-button name="origin" ng-model="reg.user.info.selected" value="mechanicalTurk" >Amazon Mechanical Turk</md-radio-button>
            <md-radio-button name="origin" ng-model="reg.user.info.selected" value="other"> {% verbatim %}{{ 'OTHER' | translate }}{% endverbatim %} </md-radio-button>
        </md-radio-group>
        </md-input-container>
        <md-input-container ng-show="reg.user.info.selected == 'other'" class="md-block" flex-gt-xs>
            <label>{% verbatim %}{{ 'DESCRIBE' | translate }}{% endverbatim %}</label>
            <input ng-model="reg.user.infoOther" name="otherDetails" ng-required="reg.user.info.selected == 'other'">
            <div ng-messages="form.otherDetails.$error" role="alert" >
              <div ng-message="required" class="my-message">{% verbatim %}{{ 'ERRORDESCRIPTION' | translate }}{% endverbatim %}</div>
            </div>
        </md-input-container>-->

        <!-- SUBMIT -->
        <div class="space-top text-center">
            <md-button ng-disabled="form.$invalid" class="md-raised waves-effect waves-light btn done" type="submit"><i class="material-icons left">done</i>
                {% verbatim %}{{ 'FINISHREGISTER' | translate }}{% endverbatim %}</md-button>
            <md-button type="button" class="md-raised waves-effect waves-light md-warn" ng-href="{% url 'login' %}"><i class="material-icons left">arrow_back</i>
                {% verbatim %}{{ 'CANCELREGISTER' | translate }}{% endverbatim %}</md-button>
        </div>
    </form>
</div>
{% endblock content %}

