<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing labeling</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
</head>
<body>
{% block content %}{% endblock content %}
{% block extra_scripts %}{% endblock extra_scripts %}
<link type="text/css" property='stylesheet' href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css'%}" rel="stylesheet">
</body>
</html>